body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  text-align: justify;
  text-justify: inter-word;
}

header {
  background-color: #1f3757;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1 {
  font-size: 2em;
  margin: 0;
}

nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

main {
  max-width: 800px;
  margin: 20px auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.description {
  padding: 0 20px; /* Add padding to both sides */
}

h2 {
  color: #333;
}

.products {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.product-box {
  flex: 0 0 30%; /* Adjust the width of each product box as needed */
  background-color: #ddd;
  padding: 10px;
  border-radius: 5px;
  
}

footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}